.star-wrapper {
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTI4bW0iIGhlaWdodD0iNTI4bW0iIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDUyOCA1MjgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTU4LjA4IDE4OS4wNSkiPjxnIGlkPSJTVkdSZXBvX2ljb25DYXJyaWVyIiB0cmFuc2Zvcm09Im1hdHJpeCguMjY0NTggMCAwIC4yNjQ1OCAtMTQ4LjA3IC0xNzkuMDQpIj48cGF0aCBkPSJtMTkxNS45IDczNy40OGMtMTAuOTU1LTMzLjU0My00Mi4wMTQtNTYuMTMxLTc3LjM2NC01Ni4xMzFoLTYxMi4wM2wtMTg5LjA2LTU4Mi4xdi0wLjExMmMtMTEuMDY4LTMzLjU0NC00Mi4xMjctNTYuMTMyLTc3LjQ3OC01Ni4xMzItMzUuMjM3IDAtNjYuNDEgMjIuNTg4LTc3LjM2NSA1Ni4yNDVsLTE4OS4xOCA1ODIuMWgtNjEyLjAzYy0zNS4zNSAwLTY2LjQxIDIyLjU4OC03Ny4zNjUgNTYuMTMxLTEwLjk1NSAzMy41NDQgMC43OSA3MC4xMzcgMjkuNDc4IDkxLjAzbDQ5NS4yNSAzNTkuODMtMTg5LjE4IDU4Mi4yMWMtMTAuOTU1IDMzLjY1NyAxLjEzIDcwLjI1IDI5LjgxNyA5MC45MTggMTQuMjMgMTAuMjc4IDMwLjk0NiAxNS40ODcgNDcuNjYgMTUuNDg3IDE2LjcxNiAwIDMzLjQzMi01LjIxIDQ3Ljc3NS0xNS42bDQ5NS4xMy0zNTkuNzIgNDk1LjAyIDM1OS43MmMyOC41NzQgMjAuNzgxIDY3LjA4NyAyMC43ODEgOTUuNjYyIDAuMTEzIDI4LjY4Ny0yMC42NjggNDAuNjU4LTU3LjI2MSAyOS43MDMtOTEuMDNsLTE4OS4xOC01ODIuMSA0OTUuMzYtMzU5LjgzYzI4LjU3NC0yMC44OTQgNDAuNDMzLTU3LjQ4NyAyOS4zNjQtOTEuMDMiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L2c+PC9zdmc+Cg==);
    mask-size: auto 100%;
    mask-repeat: repeat;
    width: 100px;
    height: 20px;
}

    .star-fill {
        background-color: #ffee00;
        height: 100%;
    }